<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :classroom_id %><br>
    <%= f.select :classroom_id, options_for_select(Classroom.all.collect {|p| [ p.name, p.id ] })%>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.select :section_id, options_for_select(Section.all.collect {|p| [ p.section, p.id ] })%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
