<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section.section %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
